md-dialog(aria-label='Drink Auswahl')
    form
        md-toolbar
            .md-toolbar-tools
                h2 Auswahl {{chosenDrink.name}}
                span(flex)
                md-button.md-icon-button(ng-click='cancel()')
                    md-icon.fa(md-font-icon='fa-close', aria-label='Close dialog')
        md-dialog-content(style='max-width:800px;max-height:810px;overflow-x:hidden')
            md-grid-list(
            data-ng-if="page==='drink'"
            flex="100"
            style="width:800px"
            md-cols="1" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="5"
            md-row-height="16:9"
            md-gutter="8px" md-gutter-gt-sm="4px"
            )
                md-grid-tile.md-margin(md-rowspan="1" md-colspan="1",data-ng-repeat="drink in data")
                    md-button.md-raised.md-accent(flex, data-ng-click="goToUserPage(drink)")
                        h3 {{drink.name}}
            md-grid-list(
            data-ng-if="page==='users'"
            flex="100"
            style="width:800px"
            md-cols="1" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="5"
            md-row-height="16:9"
            md-gutter="8px" md-gutter-gt-sm="4px"
            )
                md-grid-tile.md-margin(data-ng-click="toggleUser(user)", data-ng-class="{active:isActive(user)}",md-rowspan="1" md-colspan="1",data-ng-repeat="user in users track by user.id")
                    md-menu(data-on-long-press="openSlider($mdOpenMenu,$event);toggleUser(user,true);",style="width:100%;height:100%;text-align:center")
                        h3(aria-label='Open phone interactions menu', )
                            span(md-menu-origin) {{::user.name}}
                            span(data-ng-if="user.cardinality")  ({{user.cardinality}})
                        md-menu-content.slider-menu(width='4')
                            md-content(flex)
                                md-slider(ng-click='' flex md-discrete,min='1', max='30', ng-model='user.cardinality', aria-label='red')



        md-dialog-actions(layout='row')
            md-button.md-primary.md-raised(data-ng-if="page==='users'", ng-disabled="!activeUsers.length", ng-click="answer('not useful')")
                | Ok

